.mortgage-calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 1008px;
    width: 100dvw;
    

    background-color: white;
    border-radius: 24px;
    overflow: hidden;

    min-height: 100px;
}

@media screen and (768px <= width < 1440px) {
    .mortgage-calculator {
        width: calc(100dvw - 40px);
        grid-template-columns: 1fr;
    }    
}

@media screen and (width < 768px) {
    .mortgage-calculator {        
        width: 100dvw;
        height: 100dvh;
        border-radius: 0;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        align-content: start;
        overflow-y: auto;
    }
}